body {
    background-color: #333;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
}

form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main {
    height: 100vh;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form input {
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

form select {
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;

}

input[type="submit"] {
    padding: 0.5rem;
    width: 10.2rem;
    border: none;
    background-color: #fff;
    color: #333;
}

input[type="submit"]:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 10px rgb(0, 0 ,0));
}
